{% extends "capstone/layout.html" %}
{% load static %}

{% block body %}

<div class="content">
    <div id="panel" class="sticky">
        <p>Imagery on the fly - cs50x capstone project</p>
    </div>
    <div id="map"></div>
    <div id="control_panel">
        <form action="{% url 'pixels' %}" method="post" enctype="multipart/form-data">
            <div class="form-group" display="inline-block">
                <input class="form-control col-sm-4" autofocus type="file" name="ShapefileLocation" accept=".shp, .dbf, .sbn, .shx, .sbx, .prj" placeholder="vector location" multiple>
                <input class="btn btn-primary" type="submit" value="Submit">
            </div>
        </form>
        <button id="get_remote_image" type="button" class="btn btn-link">get remote image</button>
    </div>
</div>

{% endblock %}
