{% extends "capstone/layout.html" %}
{% load static %}

{% block body %}

<div class="content">
    <div id="panel" class="sticky">
        <p>Imagery on the fly - cs50x capstone project</p>
    </div>
    <div id="map"></div>
    <div id="control_panel">

        <div id="load_vector">
            <p>Load area</p>
        </div>
        <form action="{% url 'pixels' %}" method="post" enctype="multipart/form-data">
            <div class="form-group" display="inline-block">
                <input class="form-control col-sm-4" autofocus type="file" name="ShapefileLocation" accept=".shp, .dbf, .sbn, .shx, .sbx, .prj" placeholder="shapefile and dependencies" multiple>
                <input class="btn btn-primary" type="submit" value="Submit">
            </div>
        </form>

        <div id="load_image">
            <p>Load satellite image</p>
        </div>
        <form action="{% url 'pixels' %}" method="post">
            <div class="form-group" display="inline-block">
                <input class="form-control col-sm-4" autofocus type="text" name="SatelliteImage" placeholder="Landsat ID">
                <input class="btn btn-primary" type="submit" value="Submit">
            </div>
        </form>

        <div id="spectral">
            <p>Get Spectral Index</p>
        </div>
        <form action="{% url 'pixels' %}" method="post">
            <div class="form-group" display="inline-block">
                <input class="form-control col-sm-4" autofocus type="text" name="SpectralIndexName" placeholder="spectral index name">
                <input class="form-control col-sm-4" autofocus type="text" name="SpectralIndexEquation" placeholder="formula (bands range B1-B12; sentinel has b8A)">
                <input class="btn btn-primary" type="submit" value="Submit">
            </div>
        </form>
        <button id="get_spectral_index" type="button" class="btn btn-link">Spectral Index</button>

        <form action="{% url 'pixels' %}" method="post">
            <div class="form-group" display="inline-block">
                <input class="form-control col-sm-4" autofocus type="checkbox" name="mei" value="mei">
                <input class="btn btn-primary" type="submit" value="Submit">
            </div>
        </form>
        <button id="get_mei" type="button" class="btn btn-link">MEI</button>

        <form action="{% url 'pixels' %}" method="post">
            <div class="form-group" display="inline-block">
                <input class="form-control col-sm-4" autofocus type="checkbox" name="vigs" value="vigs">
                <input class="btn btn-primary" type="submit" value="Submit">
            </div>
        </form>
        <button id="get_vigs" type="button" class="btn btn-link">VIGS</button>

        <div id="classif">
            <p>Image Classification</p>
        </div>

        <form action="{% url 'pixels' %}" method="post">
            <div class="form-group" display="inline-block">
                <input class="form-control col-sm-4" autofocus type="checkbox" name="pqk-means" value="pqk-means">
                <input class="btn btn-primary" type="submit" value="Submit">
            </div>
        </form>
        <button id="get_pqkmeans" type="button" class="btn btn-link">pqk-means</button>

        <!-- <form action="{% url 'pixels' %}" method="post">
            <div class="form-group" display="inline-block">
                <input class="form-control col-sm-4" autofocus type="checkbox" name="k-means" value="k-means">
                <input class="btn btn-primary" type="submit" value="Submit">
            </div>
        </form>
        <button id="get_kmeans" type="button" class="btn btn-link">k-means</button> -->
    </div>
</div>

{% endblock %}
